<ion-content >
  <ion-grid no-padding>
    <ion-row class="page-title-bg" text-left>
      <ion-col>
        <h3 class="font2 page-title">Reports</h3>
        <ion-menu-button class="btn-back"><img src="/assets/img/back.png" class="img-back"></ion-menu-button>
      </ion-col>
    </ion-row>
      
    <ion-row class="mt-60">
        <ion-col>
          <ion-card class="cart-bg">
          <ion-card-content>
              <ion-row class="mb-10">	
                  <ion-col size="12">
                    <ion-label class="label font">Select Type</ion-label>
                    <ion-select  class="input font" placeholder="Type"  [(ngModel)]="form.taskType"  (ionChange)="fetchTasks()" #selectedtask>
                      <ion-select-option *ngFor="let type of taskTypes" value="{{ type }}">{{ type }}</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>

                <ion-row class="mb-10">	
                    <ion-col size="12">
                      <ion-label class="label font">Select Student</ion-label>
                      <ion-select class="input font" placeholder="Students" multiple="true" [(ngModel)]="form.studentName" (ionChange)="fetchstudent()" #selectedstudent>
                        <ion-select-option *ngFor="let type of stuName" value="{{ type.id }}">{{ type.fullname }}</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>

                  <ion-row class="mb-10">	
                      <ion-col size="12">
                        <ion-label class="label font">Select Task</ion-label>
                        <ion-select  class="input font" placeholder="Task" [(ngModel)]="form.taskName" (ionChange)="fetchOptions()" #selectedoption>
                          <ion-select-option *ngFor="let type of taskNames" value="{{ type.id }}">{{ type.taskName }}</ion-select-option>
                        </ion-select>
                      </ion-col>
                    </ion-row>

                    <ion-row class="mb-10">	
                        <ion-col size="12">
                          <ion-label class="label font">Select Option</ion-label>
                          <ion-select class="input font" placeholder="Options" multiple="true" (ionChange)="onClick()" [(ngModel)]="form.taskOption" cancelText="Cancel" okText="Proceed" #selectedtaskname>
                            <ion-select-option *ngFor="let type of taskOptions" value="{{ type.id }}">{{ type.optionName }}</ion-select-option>
                          </ion-select>
                        </ion-col>
                      </ion-row>

          <ion-row class="mb-10">

            <ion-col size="6">
              <ion-label class="label font">Start Date</ion-label>
              <ion-datetime class="input font" display-format="D/MM/YY" picker-format="D MM YYYY" [(ngModel)]="form.startDate"></ion-datetime>
            </ion-col>

            <ion-col size="6">
              <ion-label class="label font">End Date</ion-label>
              <ion-datetime class="input font" display-format="D/MM/YY" picker-format="D MM YYYY" [(ngModel)]="form.endDate"></ion-datetime>
            </ion-col>	

          </ion-row>
          
          <ion-row class="mb-10">
            <ion-col size="12" text-right>
              <ion-button shape="round" class="btn font" (click)="onClick()">Get Report</ion-button>
            </ion-col>	
          </ion-row>
          </ion-card-content>
        </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>

    <ion-item *ngFor="">
      <ion-row  >
          
          

        <ion-col size="6">

         <ion-input placeholder="Options" type="text" [(ngModel)]='multi.options'></ion-input>
          
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="addoption()"> <ion-icon name="add" ></ion-icon></ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-button > <ion-icon name="remove" ></ion-icon></ion-button>
        </ion-col>
        
      </ion-row>
    </ion-item>
    
    <ion-item >
      
    </ion-item>
    
  </ion-row>

  <ion-row>
    
  </ion-row>

</ion-content>
