.page-title{
	color:white;
	font-weight:100;
	font-size:20px;
	text-align: left;
	padding-inline-start:10px;
}

.page-title-bg{
	height:130px;
	background:linear-gradient(to right, #751a00,  #e43132);
}


.page-title:after{
	content: "";
    background-color: #ffffff;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    display: block;
    position: absolute;
    top: 45px;
}
.cart-bg{
	background:white;
	border-radius:5px;
}

.mt-60{
	margin-top: -60px;
}

.mb-10{
	padding-bottom:10px;
}
.input{
	background: #eee;
    --padding-top:5px;
    --padding-end:5px;
    font-size:13px;
    --padding-start:15px;
    --padding-bottom:5px;
    border-radius: 4px;
    margin-top:5px;
}
.label{
	font-weight: 600;
    font-size: 13px;
    padding-bottom: 5px;
    color: black;
}

.btn{
	--background: #d02d0b;
    color: white;
    font-size: 13px;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-bottom: 0px;
    --padding-top: -1px;
    --border-radius: 3px;
}

.tag-container {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 10px;
  margin: 10px;
}

.tag {
  display: inline-block;
  background-color: #5bc0de;
  color: #fff;
  margin: 5px 5px;
  padding: 2px 5px;
}
.option{
	padding: 8px;
    background: #4caf50bd;
    font-size: 12px;
    border-radius: 6px;
    color: white;
    position: relative;
    padding-right:20px;
    margin-right:6px;
    margin-bottom:3px;
    text-transform:capitalize;
     white-space:nowrap;
   display: inline-block;
}

.close-option{
	font-size: 20px;
    position: absolute;
    top: 50%;
    left: 83%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.icon {
    
    width: 10px;
    height: 10px;
    display: block;
    background: red;
}
.color-one{
  background:#009688ad;
}
.color-two{
  background:#795548ad;
}
.color-three{
  background:#40a4ab;
}
.color-four{
  background:#babaff;
}
.color-five{
  background:#d7b8ff;
}


.btn-back{
    position: absolute;
    right: 24px;
    top: 19px;
}
.btn-back img{
    width: 40px;
}


.col {
  border: solid 1px grey;
  border-bottom-style: none;
  border-right-style: none;
}

.col:last-child {
  border-right: solid 1px grey;
}

.row:last-child .col {
  border-bottom: solid 1px grey;
}

	.table {
   		width: 100%;
   		font-family: 'Open Sans', sans-serif;
   		border: 1px solid #ddd;
   		font-size:14px;
   	}
   	.table > thead > tr > th {
    	border: 1px solid #ddd;
    	background: #ebf2fe;
    	padding: 8px;
    	white-space: nowrap
    }
    .table > tbody > tr > td {
    	border: 1px solid #ddd;
    	padding: 8px;
    	background: #fff;
    	white-space: nowrap
    }


  .accordion ul {
      list-style:none;
      margin:0;
      padding:0;    
  }
  .accordion li {
      margin:0;
      padding:0;
  }
  .accordion [type=radio], .accordion [type=checkbox] {
      display:none;
  }
  .accordion label {
      display:block;
      font-size:15px;
      line-height:16px;
      background:white;
      color: #ba2c08;
      font-weight: 700;
      cursor:pointer;
      -webkit-transition: all .2s ease-out;
      -moz-transition: all .2s ease-out;
  }
  .accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
      background:#e23030;
      color:#FFF;
      text-shadow:1px 1px 1px rgba(0,0,0,0.5)
  }
  .accordion .content {
    
      overflow:scroll;
      border:1px solid #fff; /* Make the border match the background so it fades in nicely */
      -webkit-transition: all .5s ease-out;
      -moz-transition: all .5s ease-out;
  }
  .accordion p {
      color:#333;
      margin:0 0 10px;
  }
  .accordion h3 {
      color:#542437;
      padding:0;
      margin:10px 0;
  }
  
  
  /* Vertical */
  .vertical ul li {
      overflow:hidden;
      margin:0 0 1px;
  }
  .vertical ul li label {
      padding:10px;
  }
  .vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
      border-bottom:0;
  }
  .vertical ul li label:hover {
     
  }
  .vertical ul li .content {
      height:0px;
      border-top:0;
  }
  .vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:300px;
  }

  

  

h1,
h2 {
  color: #000;
}
h1 {
  margin: 10% auto 0;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
  text-align: center;
  display: table;
  padding: 10px 0;
  font-weight: bolder;
  border-bottom: 2px solid #000;
}
h2 {
  font-size: 16px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  color: #ba2c08;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
}

.date {
  display:block;
  font-size:15px;
  line-height:16px;
  background:white;
  color: #ba2c08;
  padding: 10px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
}


.datatable {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: scroll;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 2;
  transition: all 500ms ease;
}
.datatable,
ul li i:before,
ul li i:after {
  transition: all 0.25s ease-in-out;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  overflow:scroll;
}
ul li {
  position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 0px;
    border-top: 1px dotted #dce7eb;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 9px;
  right: 18px;
}
ul li i:before,ul li i:after {
  content: "";
  position: absolute;
  background-color: #000;
  width: 3px;
  height: 16px;
}

ul li  input[type=checkbox]:not(:checked) ~ i:before{
  content: "";
  position: absolute;
  background-color:white;
  width: 3px;
  height: 16px;
}

ul li  input[type=checkbox]:not(:checked) ~  i:after {
  content: "";
  position: absolute;
  background-color:white;
  width: 3px;
  height: 16px;
}

ul li i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ .datatable {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .date {
  background:white;
  color:#ba2c08;
}
ul li input[type=checkbox]:not(:checked) ~ .date {
background:#ba2c08;
 color:white;
 }
ul li input[type=checkbox]:checked ~ i:before {
  margin-top: 9px;
  height: 9px;
  color:white;
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  margin-top: 9px;
  height: 9px;
  transform: translate(-2px, 0) rotate(-45deg);
}
ul li:nth-of-type(1) {
  border-top: none;
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
// li {
//   animation: bounceInUp 1s ease both;
//   padding:10px;
// }
// @-webkit-keyframes bounceInUp {
//   0% {
//     opacity: 0;
//     -webkit-transform: translateY(2000px);
//   }
//   60% {
//     opacity: 1;
//     -webkit-transform: translateY(-30px);
//   }
//   80% {
//     -webkit-transform: translateY(10px);
//   }
//   100% {
//     -webkit-transform: translateY(0);
//   }
// }
// @keyframes bounceInUp {
//   0% {
//     opacity: 0;
//     transform: translateY(2000px);
//   }
//   60% {
//     opacity: 1;
//     transform: translateY(-30px);
//   }
//   80% {
//     transform: translateY(10px);
//   }
//   100% {
//     transform: translateY(0);
//   }
// }
