<ion-content >
	<ion-grid no-padding>
		<ion-row class="page-title-bg" text-left>
			<ion-col>

				<h3 class="font2 page-title">Add Option Value</h3>
				<img (click)="closedata()" src="/assets/img/back.png" class="img-back">
			</ion-col>
		</ion-row>

		<ion-row [hidden]="yaxis == false">
			<ion-col style="overflow: scroll;">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Manager</th>
							<th *ngFor="let option of optionsList">{{ option.taskName}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let stud of studentList">
							<td [hidden]="!stud.alternative != ''">{{ stud.alternative }}</td>
							<td [hidden]="!stud.alternative == ''">{{ stud.fullname }}</td>
							<td *ngFor="let option of optionsList"><ion-input placeholder="Enter value" type="text" [(ngModel)]="stud[option.taskName]"></ion-input></td>
						</tr>
					</tbody>
				</table>
			</ion-col>
		</ion-row>

	    <ion-row [hidden]="!yaxis == false">
	      <ion-col style="overflow: scroll;">
	        <table class="table table-striped">
	          <thead>
	            <tr>
	              <th>Student</th>
	              <th *ngFor="let option of newoptionList">{{ option.options }}</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr *ngFor="let stud of optionsList">
	              <td>{{ stud.taskName }}</td>
	              <td *ngFor="let option of newoptionList">
	                <ion-input
	                  placeholder="Enter value"
	                  type="text"
	                  [(ngModel)]="stud[option.options]"
	                >
	                </ion-input>
	              </td>
	            </tr>
	          </tbody>
	        </table>
	      </ion-col>
	    </ion-row>

		<ion-row>
			<ion-col  col text-right>
				<ion-button shape="round"  class="btn" (click)="saveoption()">Save</ion-button>
			</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>
