<ion-content >
	<ion-grid no-padding>
		<ion-row class="page-title-bg-modal" text-left>
			<ion-col>

				<h3 class="font2 page-title-modal">{{ username}} </h3>		
				<img (click)="closedata()" src="/assets/img/close.png" class="img-back img-back-img">
				<img (click)="savedata()" [hidden]="form.loginstudentId != studentdatedata" src="/assets/img/save.png" class="btn-save img-back-img">
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid >
		<ion-row>
			<ul class="p0"  [ngStyle]="{'height':'300px','overflow':'scroll'}">
				<li *ngFor="let opt of form.option  | keyvalue">
					
					
					<ion-row class="mb-10">
						<ion-col size="4">
							<h3 class="font task-name" >{{ opt.value}}</h3>
						</ion-col>
							<ion-col size="8">
								<ion-input class="input font" placeholder="" [style.backgroundColor]="form.taskdetails[studentiddata].result[studentdatedata].bgcolor[opt.key]"  [style.color]="form.taskdetails[studentiddata].result[studentdatedata].textcolor[opt.key]" (change)="updatecolour(opt.key)" type="text" value="{{form.taskdetails[studentiddata].result[studentdatedata][opt.key]}}" [(ngModel)]="form.taskdetails[studentiddata].result[studentdatedata][opt.key]" [disabled]= "form.loginstudentId != studentdatedata"></ion-input>
							</ion-col>
					</ion-row>			
					
				</li>
<!-- 
				<li>
					<h3 class="font task-name">Maghrib</h3>
					<ion-row class="mb-10">
							<ion-col size="12">
								<ion-input class="input font" placeholder="Maghrib Value" type="text" ></ion-input>
							</ion-col>
					</ion-row>			
					
				</li>

				<li>
					<h3 class="font task-name">Ibrahim</h3>
					<ion-row class="mb-10">
							<ion-col size="12">
								<ion-input class="input font" placeholder="Ibrahim Value" type="text" ></ion-input>
							</ion-col>
					</ion-row>			
					 -->
<!-- 				</li> -->			
			</ul> 

		</ion-row>	

	</ion-grid>

	

</ion-content>		
